<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Data table
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">-->
    <link href="../../others/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom style -->
    <link rel="stylesheet" href="../../others/css/custom.css">
  </head>
  <body>
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../home/index.html">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../user/index.html">Admin Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../task/index.html">Admin Tasks</a>
        </li>
      </ul>
    </nav>
    <div class="" style="margin: 24px;">
      <div class="row">
        <div class="col-md-12">
          <p>
            <button type="button" class="btn btn-outline-primary" data-toggle='modal' data-target='#modalCreate'>Create New</button>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Department Table
        </div>
        <div class="card-body">
          <table id="dataTable" class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Role
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody id="departments">
                <!-- Content loaded by Ajax -->
                <template id="department-template">
                  <tr class="editable">
                    <td class="col-md-3">
                      <span class="noedit codeValue">{{code}}</span>
                      <input class="form-control edit codeValue"/>
                    </td>
                    <td class="col-md-3">
                      <span class="noedit departmentNameValue">{{department_name}}</span>
                      <input class="form-control edit departmentNameValue"/>
                    </td>
                    <td class="col-md-3">
                      <!--<span class="edit userId" >{{user_id}}</span>-->
                      <select class="custom-select edit userId" user-id"{{user_id}}" id="{{code}}">
                        <!-- Values inserted trouhgt the append method -->

                      </select>
                    </td>
                    <td class="col-md-3">
                      <button type="button" class="btn btn-outline-warning editDepartment noedit" data-id="{{code}}">Edit</button>
                      <button type="button" class="btn btn-outline-warning saveEdit edit" data-id="{{id}}">Save</button>
                      <button type="button" class="btn btn-outline-secondary cancelEdit edit">Cancel</button>
                      <button type="button" data-id="{{id}}" class="btn btn-outline-danger remove noedit">Delete</button>
                    </td>
                  </tr>
                </template>
            </tbody>
        </table>

        </div>
      </div>
    </div>

    <!-- Modal for creation -->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
            <h3>Insert new data here</h3>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">

              <form id="createForm">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                      <label class="control-label">Department Code</label>
                      <input class="form-control" placeholder="Department Code" id="departmentCode" />
                  </div>
                  <div class="form-group">
                      <label class="control-label">Department Name</label>
                      <input class="form-control" placeholder="Department Name" id="departmentName" />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Chielf</label>
                    </div>
                    <select class="custom-select" id="select-container">
                      <template id="select-template">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </template>
                    </select>
                  </div>
                  <br>
                  <div class="form-group">
                      <input type="submit" value="Create" class="btn btn-default" id="createButton"/>
                  </div>
              </form>

    			</div>
    		</div>
    	</div>
    </div>

    <!-- Modal for edition -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
            <h3>Insert new data here</h3>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
            <form id="createDepartmentForm">
                <div class="form-group">
                    <label class="control-label">Department Code</label>
                    <input class="form-control" placeholder="Department Code" id="departmentCode" />
                </div>
                <div class="form-group">
                    <label class="control-label">Department Name</label>
                    <input class="form-control" placeholder="Department Name" id="departmentName" />
                </div>


                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Chielf</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" id="editButton"/>
                </div>
            </form>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- Optional Imports -->
    <!--<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--   Required Functions   -->
    <!--  Task  -->
    <script src="../../others/js/department/functionsDepartment.js"></script>
    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
    <script src="../../others/js/jquery.dataTables.js"></script>
    <script src="../../others/js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages
    <script src="~/js/sb-admin.min.js"></script>-->
    <!-- Custom scripts for this page-->
    <script src="../../others/js/sb-admin-datatables.min.js"></script>
    <!-- Data Tabless -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
