<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Data table
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">-->
    <link href="../../others/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom style -->
    <link rel="stylesheet" href="../../others/css/custom.css">
  </head>
  <body>
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../home/index.html">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../user/index.html">Admin Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../department/index.html">Admin Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../task/index.html">Admin Tasks</a>
        </li>
      </ul>
    </nav>
    <div class="card" style="margin: 24px;">
      <div class="card-header">
        Insert Departments
      </div>
      <div class="card-body">
        <form id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Department Code</label>
                <input class="form-control" placeholder="Department Code" id="departmentCode" />
            </div>
            <div class="form-group">
                <label class="control-label">Department Name</label>
                <input class="form-control" placeholder="Department Name" id="departmentName" />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Chielf</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-primary" value="Create" class="btn btn-default" id="createButton"/>
            </div>
        </form>
      </div>
      <div class="card">
        <div class="card-header">
          Department Table
        </div>
        <div class="card-body">
          <table id="dataTable" class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Department
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody id="departments">
                <tr>
                    <td>
                      no data
                    </td>
                    <td>
                        no data
                    </td>
                    <td>
                        no data
                    </td>
                </tr>
                <!-- Content loaded by Ajax -->
                <template id="department-template">
                  <tr>
                    <td>{{code}}</td>
                    <td>{{department_name}}</td>
                    <td>
                      <button type="button" id="bntEditModal" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalEdit">Edit</button>
                      <button type="button" data-id="{{id}}" class="btn btn-outline-danger remove" data-toggle="modal" data-target="#modalDelete">Delete</button>
                    </td>
                  </tr>
                </template>
            </tbody>
        </table>

        </div>
      </div>
    </div>
    <!-- Optional Imports -->
    <!--<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--   Required Functions   -->
    <!--  Task  -->
    <script src="../../others/js/test.js"></script>
    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
    <script src="../../others/js/jquery.dataTables.js"></script>
    <script src="../../others/js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages
    <script src="~/js/sb-admin.min.js"></script>-->
    <!-- Custom scripts for this page-->
    <script src="../../others/js/sb-admin-datatables.min.js"></script>
    <!-- Data Tabless -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
