<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Data table
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">-->
    <link href="../../others/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom style -->
    <link rel="stylesheet" href="../../others/css/custom.css">
  </head>
  <body>
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../home/index.html">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../user/index.html">Admin Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../department/index.html">Admin Departments</a>
        </li>
      </ul>
    </nav>
    <div class="row card-header">
      <h3>Insert New Task Here!! >>></h3>
      <button style="margin-left: 15px" type="button" class="btn btn-outline-primary" data-toggle='modal' data-target='#modalCreate'>Create New</button>
    </div>
    <div class="row" style="margin: 10px" id="assignments">
      <template id="assignment-template">

          <div class="col-sm-3" style="margin-top: 10px;">
            <div class="card">
              <h5 class="card-header alert alert-danger">
                <p>
                  <strong>Priority:</strong>
                  <span class="noedit priority">{{priority}}</span>
                  <select class="custom-select edit priority">
                    <option selected="Normal">Normal</option>
                    <option value="Important">Important</option>
                    <option value="Urgent">Urgent</option>
                  </select>
                  <button type="button" class="close remove" data-id="{{id}}"  data-dismiss="modal" aria-label="Close">
      				       <span aria-hidden="true">&times;</span>
                  </button>
                </p>
              </h5>
              <div class="card-body">
                <h5 class="card-title">
                  <strong>
                    <span>{{title}}</span>
                  </strong>
                </h5>
                <p>
                  <strong>Date:</strong>
                  <span>{{task_date}}</span>
                </p>
                <p>
                  <span class="badge badge-primary noedit state">{{state}}</span>
                  <select class="custom-select edit state">
                    <option selected="Pending">Pending</option>
                    <option value="In process">In process</option>
                    <option value="Finished">Finished</option>
                  </select>
                </p>
                <p><strong>Description:</strong></p>
                <p class="card-text">{{description}}</p>
                <p>
                  <strong>Encargado</strong>
                  <span>Roger Rodriguez</span>
                </p>
                <button type="button" class="btn btn-outline-warning editAssignment noedit" data-toggle="modal">Edit</button>
                <button type="button" class="btn btn-outline-warning saveEdit edit" data-id="{{id}}" data-toggle="modal">Save</button>
                <button type="button" class="btn btn-outline-secondary cancelEdit edit" data-toggle="modal">Cancel</button>
              </div>
            </div>
          </div>

      </template>
    </div>

    <!-- Modal for creation -->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
            <h3>Insert new data here</h3>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
              <form id="createForm">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                      <label class="control-label">Title</label>
                      <input class="form-control" placeholder="Title" id="titleTask" />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="stateTask">State</label>
                    </div>
                    <select class="custom-select" id="stateTask">
                      <option selected="Pending">Pending</option>
                      <option value="In process">In process</option>
                      <option value="Finished">Finished</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="stateTask">Priority</label>
                    </div>
                    <select class="custom-select" id="priorityTask">
                      <option selected="Normal">Normal</option>
                      <option value="Important">Important</option>
                      <option value="Urgent">Urgent</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Finished Date</label>
                    <input type="date" class="form-control" id="dateTask"/>
                  </div>
                  <label class="control-label">Description</label>
                  <div class="form-group">
                    <textarea name="name" rows="6" cols="38" id="descriptionTask"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                      <input type="submit" value="Create" class="btn btn-default" id="createTaskButton"/>
                  </div>
              </form>

    			</div>
    		</div>
    	</div>
    </div>

    <!-- Optional Imports -->
    <!--<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--   Required Functions   -->
    <!--  Task  -->
    <script src="../../others/js/task/functionsTask.js"></script>

    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
    <script src="../../others/js/jquery.dataTables.js"></script>
    <script src="../../others/js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages
    <script src="~/js/sb-admin.min.js"></script>-->
    <!-- Custom scripts for this page-->
    <script src="../../others/js/sb-admin-datatables.min.js"></script>
    <!-- Data Tabless -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
