.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/*CSS for task edition*/
div.col-sm-3 .edit {
  display: none;
}

div.col-sm-3.edit .edit {
  display: initial;
}

div.col-sm-3.edit .noedit {
  display: none;
}

/*CSS for users edition*/
tr.editable .edit {
  display: none;
}

tr.editable.edit .edit {
  display: initial;
}

tr.editable.edit .noedit {
  display: none;
}
