<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





                                            <!--   Required Functions -->

    <!--  Sessions  -->
  <!--   <script src="../../others/js/session.js"></script>-->

    <!--   Departments  -->
   <script src="../../others/js/department/functionsDepartment.js"></script> 

    <!--   test  -->
    <!-- <script src="../../others/js/test.js"></script>-->

    <!--  Task  -->
    <!--    <script src="../../others/js/task/functionsTask.js"></script>-->




    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
    <script src="../../others/js/jquery.dataTables.js"></script>
    <script src="../../others/js/handlebars-v4.0.11.js"></script>
    <script src="../../others/js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages
    <script src="~/js/sb-admin.min.js"></script>-->
    <!-- Custom scripts for this page-->
    <script src="../../others/js/sb-admin-datatables.min.js"></script>
    <!-- Data Tabless -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



  </body>
</html>
