<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Data table
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">-->
    <link href="../../others/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom style -->
    <link rel="stylesheet" href="../../others/css/custom.css">
  </head>
  <body>
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../home/index.html">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../department/index.html">Admin Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../task/index.html">Admin Tasks</a>
        </li>
      </ul>
    </nav>
    <div class="" style="margin: 24px;">
      <div class="row">
        <div class="col-md-12">
          <p>
            <button type="button" class="btn btn-outline-primary" data-toggle='modal' data-target='#modalCreate'>Create New</button>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Users Table
        </div>
        <div class="card-body">
          <table id="dataTable" class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Complete Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody id="users">
                <!-- Content loaded by Ajax -->
                <template id="user-template">
                  <tr class="editable">
                    <td class="col-md-2">
                      <span class="noedit usernameValue">{{username}}</span>
                      <input class="form-control edit usernameValue"/>
                    </td class="col-md-2">
                    <td>
                      <span class="noedit complete-name">{{complete_name}}</span>
                      <input class="form-control edit complete-name"/>
                    </td>
                    <td class="col-md-2">
                      <span class="noedit role">{{role}}</span>
                      <select class="custom-select edit role">
                        <option selected="Manager">Manager</option>
                        <option value="Mantainer">Mantainer</option>
                        <option value="Watcher">Watcher</option>
                        <option value="Chielf">Chielf</option>
                      </select>
                    </td>
                    <td class="col-md-2">
                      <input required type="password" class="form-control edit password" placeholder="Password"/>
                    </td>
                    <td class="col-md-2">
                      <input required type="password" class="form-control edit confirmation-password" placeholder="Confirmation"/>
                    </td>
                    <td class="col-md-2">
                      <button type="button" class="btn btn-outline-warning editUser noedit" data-toggle="modal">Edit</button>
                      <button type="button" class="btn btn-outline-warning saveEdit edit" data-id="{{id}}" data-toggle="modal">Save</button>
                      <button type="button" class="btn btn-outline-secondary cancelEdit edit" data-toggle="modal">Cancel</button>
                      <button type="button" data-id="{{id}}" class="btn btn-outline-danger remove noedit" data-toggle="modal" data-target="#modalDelete">Delete</button>
                    </td>
                  </tr>
                </template>
            </tbody>
        </table>

        </div>
      </div>
    </div>


    <!-- Modal for creation -->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
            <h3>Insert new data here</h3>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
            <form id="createUserForm">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control" placeholder="Username" id="username" />
                </div>
                <div class="form-group">
                    <label class="control-label">Complete Name</label>
                    <input class="form-control" placeholder="Complete Name" id="complete-name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control" placeholder="Password" id="password" />
                </div>
                <div class="form-group">
                    <label class="control-label">Confirmation Password</label>
                    <input class="form-control" placeholder="Confirmation Password" id="confirmation-password" />
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Role</label>
                  </div>
                  <select class="custom-select" id="role">
                    <option selected="Manager">Manager</option>
                    <option value="Mantainer">Mantainer</option>
                    <option value="Watcher">Watcher</option>
                    <option value="Chielf">Chielf</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" id="createButton"/>
                </div>
            </form>
    			</div>
    		</div>
    	</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--   Required Functions   -->
    <!--  Task  -->
    <script src="../../others/js/user/functionsUser.js"></script>
    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
    <script src="../../others/js/jquery.dataTables.js"></script>
    <script src="../../others/js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages
    <script src="~/js/sb-admin.min.js"></script>-->
    <!-- Custom scripts for this page-->
    <script src="../../others/js/sb-admin-datatables.min.js"></script>
    <!-- Data Tabless -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
